
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

#datepicker {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.alert {
    padding: 10px;
    font-size: 16px;
    background-color: #f44336;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
}



/* --------------------------------------------------------------- */

body {
    background-color: #e2e7e7;
  }
  #week-schedule {
    margin: auto;
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr repeat(5, auto) ;
    gap: 3px;
    font-family: 'Raleway', sans-serif;
  }
  .schedule-day {
    text-align: center;
    background-color: rgb(121, 119, 119); 
    border-radius: 7px;
  }
  
  .schedule-day h1 {
    margin-block-start: 3px;
    margin-block-end: 3px;
    font-weight: 400;
    font-size: 30px;
   
  }
  .all-shifts {
    padding-top: 7px;
    text-align: center;
  }
  .employee-shift {
    border-radius: 7px;
    margin-top:5px;
  }
  .employee-shift h2 {
    margin-block-start: 3px;
    margin-block-end: 3px;
    font-size: 20px;
    font-weight: 700;
  }
  .employee-shift p {
    margin-block-start: 3px;
    margin-block-end: 3px;
  }
  .blue {
    background-color: #6DD3CE;
    color: ;
  }
  .red {
    background-color: #A13D63;
    color: #fff;
  }
  .green {
    background-color: #C8E9A0;
  }
  .orange {
    background-color: #F7A278;
  }
  .purple {
    background-color: #351E29;
    color: #fff;
  }
  .empty {
    border-style: dotted;
    border-width: 3px;
    background-color: #fff;
    color: red;
  }