/* Genel stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

  
  
  /* Header stil */
 

  /* Buton stil */
  #buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Tablo stil */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
 
  
  /* Ana düğme stil */
  #bookbutton {
    display: block;
    margin: 20px auto;
    padding: 15px 50px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
  }
  
  #bookbutton:hover {
    background-color: #2980b9;
  }
  